[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
graphviz = "*"
pytest = "*"
snakeviz = "*"

[packages]
sly = "*"
z3-solver = "*"
pysmt = "*"
requests = "*"

[requires]
python_version = "3.7"

[scripts]
analyze = "python analyze.py"
analyze-profile = "python -m cProfile -o prof analyze.py"
analyze-debug = "ipython3 --pdb analyze.py --"
test = 'py.test -v .'
