[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
graphviz = "*"
pytest = "*"

[packages]
sly = "*"
z3-solver = "*"
pysmt = "*"

[requires]
python_version = "3.7"

[scripts]
analyze = "python -m analyze.tester"
test = 'py.test -v .'
